<script context="module" lang="ts">
	import type { LoadInput } from '@sveltejs/kit';
	export async function load({ page }: LoadInput) {
		const locale = page.params.lang;
		const data = await import(`../../../static/data/timelines/timeline.${locale.toLocaleLowerCase()}.json`);
		return {
			status: 200,
			props: {
				timeline_datas: data.resource.sort((a, b) => a.start_time - b.start_time),
				locale_load: locale
			}
		};
	}
</script>

<script lang="ts">
	import Button from '/src/components/global/button.svelte';
	import { _, locale } from 'svelte-i18n';
	import { make_first_letter_uppercase } from '/src/utils/letter';
	import LocaleSwitcher from '/src/components/language/locale_switcher.svelte';
	import Timeline from '/src/components/timeline/timeline.svelte';
	import Loading from '/src/components/global/loading.svelte';

	export let timeline_datas: any[] = [];
	export let locale_load: string;
	let is_loading = false;

	let timeline_ref;

	const callback = () => {
		timeline_ref.callback();
	};

	const import_new_timeline = async (lang: string) => {
		const data = await import(`../../../static/data/timelines/timeline.${lang.toLocaleLowerCase()}.json`);
		timeline_datas = data.resource.sort((a, b) => a.start_time - b.start_time);
	};

	$: {
		if (locale_load !== $locale) {
			is_loading = true;
			import_new_timeline($locale).then((_) => (is_loading = false));
			locale_load = $locale;
		}
	}
</script>

{#if is_loading}
<div class="loading">
	<Loading />
</div>
{:else}
	<Timeline bind:this={timeline_ref} {timeline_datas} />
{/if}

<div class="bottom">
	<div class="lang">
		<LocaleSwitcher />
	</div>
	<div class="button">
		<Button title={$_('now')} bang="!" {callback} />
	</div>

	<div class="legal">
		<p><a href={`/${$locale}/legal`}>{make_first_letter_uppercase($_('legal_mention'))}</a></p>
	</div>
</div>

<!-- TODO: add hallow effect on click on now button -->

<!-- TODO: see for making the now click to center -->
<style>
	p {
		color: #fff;
	}

	.loading {
		margin: auto;
	}

	.bottom {
		margin: auto 0 60px 0;
		width: 100%;

		display: grid;
			grid-template-columns: minmax(75px, 1fr) 4fr minmax(75px, 1fr);
	}

	.button,
	.legal,
	.lang {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.legal {
			grid-column: 3 / -1;
		}

		.lang {
			grid-column: 1 / 2;
		}

		.button {
			grid-column: 2 / 3;
		}
		.legal, .lang {
			text-align: center;
			width: auto;
		}

	.legal p {
		font-size: 16px;
		color: #69728a;
	}

	.legal p a,
	.legal p a:visited {
		color: #69728a;
	}

	@media screen and (max-height: 700px) {
		.bottom {
			margin: auto 0 15px 0;
		}

		.legal p {
		font-size: 15px;
	}
	}

	@media screen and (max-width: 500px) {
		.legal p {
		font-size: 15px;
	}
	}
</style>
