<svg  viewBox="0 0 132 52" fill="none" xmlns="http://www.w3.org/2000/svg">
	<rect y="23.3003" width="130" height="5" rx="2.5" fill="white"/>
	<path d="M102.958 2.9825C103.692 2.1695 104.944 2.09903 105.765 2.82449L129.737 24.0133C131.466 25.5416 130.385 28.3969 128.077 28.3969L120.167 28.3969C119.35 28.3969 118.584 27.9981 118.115 27.3285L102.804 5.46827C102.27 4.70516 102.334 3.67397 102.958 2.9825V2.9825Z" fill="white"/>
	<path d="M102.941 49.2142C103.672 50.0244 104.92 50.0947 105.738 49.3717L129.628 28.2564C131.351 26.7334 130.274 23.888 127.974 23.8879L120.092 23.8876C119.277 23.8876 118.513 24.285 118.046 24.9523L102.788 46.7369C102.255 47.4974 102.319 48.525 102.941 49.2142V49.2142Z" fill="white"/>
	</svg>
	
