/* Nunito font */
@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* Roboto font */
@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
}