html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
}

#svelte {
    width: 100%;
    height: 100%;
    min-height: 100%;
}