<script context="module" lang="ts">
	import type { LoadInput } from '@sveltejs/kit';

	import { app_langs, DEFAUTL_LANG } from '/src/utils/lang_env';

	import { init, locale, register, waitLocale } from 'svelte-i18n';

	app_langs.forEach((lang: string) => {
		register(lang, () => import(`../../static/locales/${lang.toLocaleLowerCase()}.json`));
	});

	export async function load({ page }: LoadInput) {
		const lang = page.params.lang;

		if (!lang || !app_langs.includes(lang.toLocaleLowerCase()))
			return {
				status: 302,
				redirect: `/${DEFAUTL_LANG}`
			};

		init({
			fallbackLocale: DEFAUTL_LANG,
			initialLocale: lang
		});
		await waitLocale();
		return {
			status: 200
		};
	}
</script>


<div class="layout">
	<header>
		<div class="logo">
			<a href={`/${$locale}`}>
				<img src="/images/logos/valentin.svg" alt="valentin logo" />
			</a>
		</div>
		<div class="text">
			<p><a href={`/${$locale}`}> timeline </a></p>
		</div>
	</header>
	<main>
		<slot />
	</main>
</div>

<style>
	header {
		width: 100%;
		padding: 20px 0;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header > .logo {
		max-height: min(134px, 15vmin);
		max-width: min(134px, 15vmin);
		height: 100%;
		width: 100%;
		margin: auto min(30px, 4vmin) auto 0;
	}

	header > .logo img {
		height: 100%;
		width: 100%;
	}

	header > .text > p, header > .text > p a, header > .text > p a:visited {
		font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: bold;
		letter-spacing: 11.5%;
		font-size: min(130px, 15vmin);
		line-height: min(190px, 16vmin);
		margin: 0;
		padding: 0;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}

	.layout {
		height: 100%;
		width: 100%;
		background: url('/images/backgrounds/background.svg');
		background-color: #0b1423;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		display: flex;
		flex-direction: column;
	}

	main {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
</style>
