<div class="social-bar">
    <div class="bar">

    </div>

    <div class="facebook">
        <a>
            <img alt='facebook' src="/static/images/socials/facebook.svg" />
        </a>
    </div>

    <div class="linkedin">
        <a>
            <img alt='facebook' src="/static/images/socials/linkedin.svg" />
        </a>
    </div>


    <div class="twitter">
        <a>
            <img alt='facebook' src="/static/images/socials/twitter.svg" />
        </a>
    </div>


    <div class="email">
        <a href="mailto:?subject=[Timeline] [xxx]&body=I just found a wonderfull articles about the xxx projects ! ">
            <img alt='facebook' src="/static/images/socials/email.svg" />
        </a>
    </div>

    <div class="link">
        <a>
            <img alt='facebook' src="/static/images/socials/link.svg" />
        </a>
    </div>

    <div class="bar">

    </div>
</div>


<style>

    .social-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bar {
        width: 5px;
        height: 35px;
        background-color: #ffffff;
        border-radius: 2.5px;  
        margin: 9px auto;
    }

    .facebook a, .linkedin a, .twitter a, .email a, .link a {
        display: block;
        margin: 9px auto;
    }

    .facebook img, .linkedin img, .twitter img, .email img, .link img {
        height: 45px;
        width: 45px;
        transition: transform 0.3s ease;
    }

    .facebook img:active, .linkedin img:active, .twitter img:active, .email img:active, .link img:active {
        transform: scale(0.9);
        transition: transform 0.3s ease;
    }
</style>