<script context="module" lang="ts">
	import type { LoadInput, Page } from '@sveltejs/kit';
	import { make_first_letter_uppercase } from '/src/utils/letter';
	import type { IArticle } from '/src/utils/type';
	import { date, _ } from 'svelte-i18n';

	export async function load({ page }: LoadInput) {
		const lang = page.params.lang;
		const slug = page.params.slug;
		let data;
		try {
			data = await import(`../../../../static/data/articles/${lang}/${slug}.json`);
		} catch (e) {
			console.log(e);
			return {
				status: 404,
				error: 'Not found'
			};
		}
		if (!data)
			return {
				status: 404,
				error: 'Not found'
			};
		return {
			status: 200,
			props: {
				data
			}
		};
	}
</script>

<script lang="ts">
	import SocialBar from '/src/components/articles/social_bar.svelte';
	import BackArrow from '/src/components/global/back_arrow.svelte';

	export let data: IArticle;
</script>

<div class="article">
	<!-- <div class="left">
		<div class="back">
			<div class="back-button">
				<BackArrow />
			</div>
		</div>
		<div class="title">
			<div class="rounded" />
			<p>
				{make_first_letter_uppercase($date(new Date(data.start_time * 1000), { format: 'full' }))}
			</p>
		</div>
	</div>

	<div class="main">
		<h3>{$_('abstract')}</h3>
		<p>{@html data.abstract}</p>
		<h3>{$_('article')}</h3>
		<p>{@html data.article}</p>
	</div> -->

	<div class="right">
		<SocialBar />
	</div>
</div>

<style>
	p {
		color: #fff;
	}
</style>
