<svg width="100%" viewBox="0 0 596 841" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M280 829C429.117 829 550 708.117 550 559C550 409.883 429.117 289 280 289C130.883 289 10 409.883 10 559C10 708.117 130.883 829 280 829ZM280 800C413.101 800 521 692.101 521 559C521 425.899 413.101 318 280 318C146.899 318 39 425.899 39 559C39 692.101 146.899 800 280 800Z"
		fill="white"
	/>
	<rect x="265" y="29" width="31" height="564" rx="15.5" fill="white" />
	<path
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M571.371 137.115C586.093 133.087 586.093 112.207 571.371 108.179L283.959 29.5403C274.414 26.9288 265 34.1128 265 44.0085V201.285C265 211.181 274.414 218.365 283.959 215.754L571.371 137.115ZM515.845 130.799C524.137 128.906 524.137 117.094 515.845 115.201L305.781 67.2334C300.773 66.0898 296 69.8956 296 75.0327V170.967C296 176.104 300.773 179.91 305.781 178.767L515.845 130.799Z"
		fill="white"
	/>
</svg>
