<svg width="100%" viewBox="0 0 560 560" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path
		fill-rule="evenodd"
		clip-rule="evenodd"
		d="M280 550C429.117 550 550 429.117 550 280C550 130.883 429.117 10 280 10C130.883 10 10 130.883 10 280C10 429.117 130.883 550 280 550ZM280 521C413.101 521 521 413.101 521 280C521 146.899 413.101 39 280 39C146.899 39 39 146.899 39 280C39 413.101 146.899 521 280 521Z"
		fill="white"
	/>
	<circle cx="280" cy="280" r="125" fill="white" />
</svg>
