<script lang="ts">
    import maping_lang_to_flag from '/src/utils/lang_to_flag.json';
    import { app_langs } from '/src/utils/lang_env';
    import { locale } from 'svelte-i18n';
import { page } from '$app/stores';
import { goto } from '$app/navigation';

    let show_choice = false;

    const handle_click_current = () => show_choice = !show_choice;

    const handle_click_choice = (lang: string) => {
        show_choice = false;
        $locale = lang;
        const split_url = $page.path.split('/');
		split_url[1] = lang;

		goto( split_url.join('/'), {replaceState: true});
    }
</script>


<div class="container">
    <div class="current" on:click={handle_click_current}>
        <img src={`/images/flags/${maping_lang_to_flag[$locale]}`} alt={`${$locale} logo`} title={$locale} />
    </div>

    {#if show_choice}
    <div class="choices">
        {#each app_langs as lang }
            {#if lang !== $locale}
            <div class="one-choice">
                <img src={`/images/flags/${maping_lang_to_flag[lang]}`} alt={`${lang} logo`} title={lang} on:click={()=>handle_click_choice(lang)} />
            </div>
            {/if}
        {/each}
    </div>
    {/if}
</div>


<style>
    .container {
        position: relative;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choices {
        position: absolute;
        top: -100%;
    }

    .current {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        cursor: pointer;
        height: 30px;   
    }
</style>