<script lang="ts">
	import Arrow from '/src/components/timeline/linking/arrow.svelte';
	import LinkerBar from '/src/components/timeline/linking/linker_bar.svelte';
	import { _, date } from 'svelte-i18n';
	import TimeBlock from '/src/components/timeline/block/time_block.svelte';
	import { onMount } from 'svelte';
	import { make_first_letter_uppercase } from '/src/utils/letter';

	export let timeline_datas: any[] = [];

	let timeline_ref: HTMLDivElement;
	let timeline_container_ref: HTMLDivElement;

	export const callback = () => {
		const { id } = find_less_diff_between_date();
		const timeline_last_ele: HTMLElement = document.getElementById(id);
		if (!timeline_last_ele) return;
		timeline_last_ele.classList.add('hallow-effect');
		window.setTimeout(() => timeline_last_ele.classList.remove('hallow-effect'), 450);
		const container_size = timeline_container_ref.clientWidth;
		const timeline_size = timeline_ref.scrollWidth;

		// prendre l'offset
		// on calcule le nombre le plus proche


		//let new_value = -(timeline_last_ele.offsetLeft + (timeline_last_ele.clientWidth / 2));
		console.log(timeline_last_ele.offsetLeft)
		const t1 = (Math.trunc(timeline_last_ele.offsetLeft / container_size) * container_size)
		console.log(t1);
		console.log(container_size / 2);
		console.log(container_size /2 - 200 - timeline_last_ele.clientWidth)
		let new_value = -(( t1 + container_size /2 - 150 + timeline_last_ele.clientWidth));

		console.log(new_value,-(timeline_last_ele.offsetLeft + (timeline_last_ele.clientWidth / 2)), container_size /2 )

		const printable_width = timeline_size + new_value;

		//if (printable_width <= container_size) new_value = -(container_size - timeline_last_ele.clientWidth);

		timeline_ref.classList.add('transition-from-left');
		timeline_ref.style.setProperty('left', `${new_value}px`);

		window.setTimeout(() => timeline_ref.classList.remove('transition-from-left'), 300);

	};

	const find_less_diff_between_date = () => {
		const current_date = Date.now();
		let curr_less = {
			id: null,
			time: Infinity
		};
		for (const { id, start_time } of timeline_datas) {
			const diff = current_date - start_time * 1000;
			if (diff < curr_less.time && diff >= 0) {
				curr_less.id = id;
				curr_less.time = diff;
			}
		}
		return curr_less;
	};

	let mouse_down: (PointerEvent | MouseEvent | TouchEvent) & { currentTarget: EventTarget & HTMLDivElement };

	let is_timeline_press = false;
	const handle_mouse_down = (e: MouseEvent & { currentTarget: EventTarget & HTMLDivElement }) => {
		e.preventDefault();
		mouse_down = e;
		is_timeline_press = true;
	};

	const handle_mouse_up = (e: (PointerEvent | MouseEvent | TouchEvent) & { currentTarget: EventTarget & Window }) => {
		e.preventDefault()
		is_timeline_press = false;
	};

	const handle_mouse_move = (e: (PointerEvent | MouseEvent | TouchEvent) & { currentTarget: EventTarget & HTMLDivElement }) => {
		e.preventDefault();
		if (!is_timeline_press) return;

		const container_size = timeline_container_ref.clientWidth;
		const timeline_size = timeline_ref.scrollWidth;

		const delta = (window.TouchEvent && e instanceof TouchEvent ? e.touches[0].clientX : (e  as MouseEvent).clientX) - ( window.TouchEvent && mouse_down instanceof TouchEvent ? mouse_down.touches[0].clientX : (mouse_down as MouseEvent).clientX);
		const left_now = parseFloat(timeline_ref.style.getPropertyValue('left')) || 0;

		const new_value = left_now + delta;
		if (new_value > 0) return;

		const printable_width = timeline_size + new_value;

		if (printable_width <= container_size) return;

		timeline_ref.style.setProperty('left', `${new_value}px`);
		mouse_down = e;
	};


	const handle_mouse_wheel = (e: WheelEvent) => {
		const container_size = timeline_container_ref.clientWidth;
		const timeline_size = timeline_ref.scrollWidth;

		const left_now = parseFloat(timeline_ref.style.getPropertyValue('left')) || 0;

		const new_value = left_now + -e.deltaX;
		if (new_value > 0) return;

		const printable_width = timeline_size + new_value;
		if (printable_width <= container_size) return;

		timeline_ref.style.setProperty('left', `${new_value}px`);
	};

	onMount(() => {
		timeline_ref.onwheel = handle_mouse_wheel;
	});
</script>

<svelte:window on:pointerup={handle_mouse_up}/>
<div class="timeline-container" bind:this={timeline_container_ref}>
	<div
		class="timeline"
		bind:this={timeline_ref}
		on:pointerdown={handle_mouse_down}
		on:pointermove={handle_mouse_move}
		on:touchmove={handle_mouse_move}
	>
		<div class="demispacer start">
			<div class="bar first">
				<LinkerBar />
			</div>
		</div>

		{#each timeline_datas as timeline_element, i (timeline_element.id)}
			<div class="block" id={timeline_element.id}>
				<TimeBlock
					learn_more_href={timeline_element.article_slug
						? `/articles/${timeline_element.article_slug}`
						: ''}
					sub_title={make_first_letter_uppercase(
						$date(new Date(timeline_element.start_time * 1000), { format: 'full' })
					)}
					title={timeline_element.title}
					checkpoint_type={timeline_element.type}
				/>
			</div>

			{#if i + 1 < timeline_datas.length}
				<div class="spacer">
					<div class="bar">
						<LinkerBar />
					</div>
				</div>
			{/if}
		{/each}

		<div class="demispacer last">
			<div class="bar last">
				<Arrow />
			</div>
		</div>
	</div>

	<div class="timeline hidden-timeline">
		<div class="demispacer">
			<div class="bar first">
				<LinkerBar />
			</div>
		</div>

		{#each timeline_datas as timeline_element, i (timeline_element.id)}
			<div class="block" id={timeline_element.id}>
				<TimeBlock
					learn_more_href={timeline_element.article_slug
						? `/articles/${timeline_element.article_slug}`
						: ''}
					sub_title={make_first_letter_uppercase(
						$date(new Date(timeline_element.start_time * 1000), { format: 'full' })
					)}
					title={timeline_element.title}
					checkpoint_type={timeline_element.type}
				/>
			</div>

			{#if i + 1 < timeline_datas.length}
				<div class="spacer">
					<div class="bar">
						<LinkerBar />
					</div>
				</div>
			{/if}
		{/each}

		<div class="demispacer last">
			<div class="bar last">
				<Arrow />
			</div>
		</div>
	</div>
</div>

<!-- TODO: style bottom bar -->
<!-- TODO: add hallow effect on click on now button -->
<!-- TODO: export timeline in components -->

<!-- TODO: add loading display -->
<style>
	.timeline-container {
		margin: auto 0 0;
		position: relative;
		overflow: hidden;
		user-select: none;
	}
	.timeline {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: flex-start;
		position: absolute;
		top: 0;
		left: 0;
	}

	:global(.transition-from-left) {
		transition: left 0.3s ease;
	}

	:global(.hallow-effect) {
		animation: 0.3s ease 0.15s hallow;
	}

	@keyframes hallow {
		0% {
			background-color: rgba(255,255,255,0.13);
		}
		100% {
			background-color: transparent;
		}
	}

	.hidden-timeline {
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		position: relative;
		z-index: -1;
	}

	.timeline .block {
		max-width: 275px;
		width: 100%;
		margin: 0;
		flex-shrink: 0;
	}

	.block {
		position: relative;
		z-index: 1;
	}

	.demispacer,
	.spacer {
		padding-top: 112px;
		position: relative;
		flex-shrink: 0;
	}

	.demispacer {
		width: 130px;
		transform: scaleX(1.7);
	}

	.demispacer.start {
		width: 70px;
		transform: scaleX(2.5);
	}
	.spacer {
		width: 200px;
		transform: scaleX(1.9);
	}

	.bar {
		height: 5px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: absolute;
	}

	.bar.first {
		transform: translateX(20%);
	}

	.bar.last {
		transform: translateX(-20%);
	}

	@media screen and (max-width: 500px) {

		.demispacer.start {
			width: 40px;
			transform: scaleX(2.5);
			position: relative;
		}

		.bar.first {
			transform: translateX(-48%);
			position: absolute;
			width: 120px;
		}

		.spacer {
			width: 120px;
			transform: scaleX(1.9);
			position: relative;
		}

		.spacer > .bar {
			position: absolute;
			width: 155px;
			transform: translateX(-12%);
		}
	} 
</style>
