<script lang="ts">
	import { make_first_letter_uppercase } from '/src/utils/letter';
import { locale, _ } from 'svelte-i18n';

	export let link_href: string = '';
</script>

<p><a href={`${$locale}${link_href}`}>{make_first_letter_uppercase($_('learn_more'))}</a></p>

<style>
    a, a:visited {
        text-decoration: underline;
        color: #EBAB2D;
    }

    p {
        color: #EBAB2D;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        line-height: 21px;
    }
</style>