<script lang="ts">
	export let sub_title: string = '';
</script>

<p>{sub_title}</p>

<style>
    p {
        color: #EBAB2D;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
</style>