<script lang="ts">
    import CheckCircle from "../icons/check_circle.svelte";
import CrossCircle from "../icons/cross_circle.svelte";
import LaunchCircle from "../icons/launch_circle.svelte";
import SimpleCircle from "../icons/simple_circle.svelte";
import TargetCircle from "../icons/target_circle.svelte";
import LearnMore from "./learn_more.svelte";
import Title from "./title.svelte";
import Subtitle from "/src/components/timeline/block/subtitle.svelte";
    import { Checkpoint }from "/src/utils/type";


    export let checkpoint_type: Checkpoint;
    export let sub_title: string;
    export let title: string;
    export let learn_more_href: string | undefined;
    if (!checkpoint_type) throw new Error('checkpoint_type props must be define and type of props');

</script>

<div class="time-block">
    <div class={`subtitle ${checkpoint_type}`}>
        <Subtitle sub_title={sub_title} />
    </div>
    <div class={`icons ${checkpoint_type}`}>
        {#if (checkpoint_type === Checkpoint.START)}
            <LaunchCircle />
        {:else if (checkpoint_type === Checkpoint.SUCCESS)}
            <CheckCircle />
        {:else if (checkpoint_type === Checkpoint.FAILURE)}
            <CrossCircle />    
        {:else if (checkpoint_type === Checkpoint.SIMPLE)}
            <SimpleCircle />
        {:else if (checkpoint_type === Checkpoint.TARGET)}
            <TargetCircle />
        {/if}
    </div>
    <div class="text">
        <div class="title">
            <Title title={title} />
        </div>
        {#if learn_more_href}
            <div class="learnmore">
                <LearnMore link_href={learn_more_href} />
            </div>
        {/if}
    </div>
</div>

<style>
    .time-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        width: 62px;
        height: 88px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .subtitle {
        text-align: center;
        margin-bottom: 10px;
        padding: 0;
        min-height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .learnmore {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    
</style>