<script lang="ts">
	export let title: string = '';
</script>

<p>{title}</p>

<style>
    p {
        color: #ffffff;
        font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        text-align: center;
    }
</style>