<svg width="100%" height="100%" viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M54 20.2501C54 21.2311 53.2047 22.0264 52.2237 22.0264L5.32895 22.0264C4.34792 22.0264 3.55264 21.2311 3.55264 20.2501C3.55264 19.269 4.34792 18.4737 5.32895 18.4737L52.2237 18.4737C53.2047 18.4737 54 19.269 54 20.2501Z" fill="white"/>
    <path d="M24.2188 37.5184C23.659 38.1385 22.7043 38.1922 22.0784 37.6389L3.79669 21.4799C2.47806 20.3143 3.30244 18.1369 5.06235 18.1369L11.0946 18.1369C11.718 18.1369 12.3023 18.441 12.6599 18.9516L24.336 35.6227C24.7436 36.2047 24.695 36.9911 24.2188 37.5184Z" fill="white"/>
    <path d="M24.2048 2.27462C23.6449 1.65458 22.6902 1.60081 22.0643 2.15406L3.78215 18.3127C2.46349 19.4782 3.2878 21.6557 5.0477 21.6557L11.0801 21.6559C11.7036 21.656 12.2878 21.3519 12.6455 20.8412L24.3219 4.17037C24.7296 3.5884 24.681 2.80197 24.2048 2.27462Z" fill="white"/>
    </svg>
    