<script lang="ts">
	import { make_first_letter_uppercase } from '/src/utils/letter';
	import type { func_callback_click } from 'src/utils/type';

	export let title: string = '';
	export let bang: string = '';
	export let callback: func_callback_click;
</script>

<button on:click={callback}>
	<p>
		{make_first_letter_uppercase(title)}
		{#if bang}
			<span>{bang}</span>
		{/if}
	</p>
</button>

<style>
	button {
		background: #ebab2d;
		box-shadow: 0px 4px 4px rgba(141, 104, 35, 0.25);
		border-radius: 13px;
		color: #0b1423;
		min-width: 55px;
		text-align: center;
		min-height: 30px;
		border: none;
		transition: all 0.3s ease;
		padding: 5px 20px;
		cursor: pointer;
	}

	button:active {
		transform: scale(0.95);
		box-shadow: 0px 4px 4px rgba(141, 104, 35, 0.1);
	}

	button p {
		font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
			Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 24px;
		font-weight: 900;
		padding: 0;
		margin: 0;
	}

	button p span {
		display: inline-block;
		transform: rotate(10deg);
	}

	@media screen and (max-width: 500px) {
		button p {
		font-size: 20px;
	}
	}
</style>
