<div class="loading">
    <div class="round r1"></div>
    <div class="round r2"></div>
    <div class="round r3"></div>
</div>

<style>
    .loading {
        display: flex;
    }

    .round {
        margin: auto 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        animation: 0.8s linear up-bottom ;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
        transform: translateY(0%);
    }

    .round.r1 {
        animation-delay: 0s;
    }

    .round.r2 {
        animation-delay: 0.2s;
    }
    .round.r3 {
        animation-delay: 0.4s;
    }

    @keyframes up-bottom {
        0% {
            height: 20px;
            transform: translateY(0%);
        }
        25% {
            height: 10px;
            transform: translateY(50%);
        }
        75% {
            transform: translateY(-50%);
        }
        100% {
            height: 20px;
            transform: translateY(0%);
        }
    }
</style>